{% extends 'base.html' %}
{% block content %}
<h1>Edit User</h1>
<form method="POST">
  <div><label>First Name: <input type="text" name="first_name" value="{{ user.first_name }}"></label></div>
  <div><label>Last Name: <input type="text" name="last_name" value="{{ user.last_name }}"></label></div>
  <div><label>Image URL: <input type="text" name="image_url" value="{{ user.image_url }}"></label></div>
  <button type="submit">Save</button>
</form>
<a href="/users/{{ user.id }}">Cancel</a>
{% endblock %}
